.centerText {
    text-align: center;
}

.fontBig {
    font-size: 2rem;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleMenu {
    width: 11rem;
    height: 3rem;
}