.centerText {
    text-align: center;
}

.fontBig {
    font-size: 2rem;
}

.fontMedium {
    font-size: 1.5rem;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.titleMenu {
    width: 11rem;
    height: 3rem;
}

.listNoStyle {
    list-style: none;
    padding-left: 0;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.justifyAround {
    display: flex;
    justify-content: space-around;
}

.justifyBetween {
    display: flex;
    justify-content: space-between;
}

.justifyEnd {
    display: flex;
    justify-content: end;
}

.colorRed {
    color: red;
}

.colorGreen {
    color: green;
}

.colorBlue {
    color: blue;
}

html, body, #game {
    height: 100%;
    width: 100%;
    margin: 0;
}

.width100 {
    width: 100%;
}

.card {
    width: 115px;
    height: 161px;
}